#Khung {
    width: 1600px;
    margin: 0 auto;
    border: 2px;
}

article {
    display: flex;
    flex-wrap: wrap;

}

article .new_list {
    border: 1px solid black;
    padding: 10px;
    width: calc(25% - 22px);
    box-sizing: border-box;
    position: relative;
    /* Đặt vị trí tương đối cho .new_list */
    overflow: hidden;
    /* Đảm bảo văn bản không tràn ra khỏi hình ảnh */
}
img{
    position: relative;
}
.product__price--show{
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 2px;
}
.rating{
    color: rgba(252, 170, 19, 0.959);
    font-size: 30px;
    margin-right: 20px;
}
.discount{
    position: absolute;
    border-radius: 10px;
    padding: 3px 5px;
    width: 120px;
    background-color: rgb(240, 210, 43);
    left: 2%;
    top: 55%;
}
.describe{
    font-size: 20px;
}