.sidebar{
    width: 400px;
    height: 140px;
    background-color: #00F;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FFF;
    text-transform: uppercase; /*Chuyển đổi thành chữ in hoa */
}
.sidebar ul li{
    list-style: 20px;
    padding: 4px;
    border-bottom: 1px solid black;
}
.sidebar ul li a{
    text-decoration: none; /*Xoá gạch chân của thẻ a*/
    color: #FFF;
    padding: 0 20px;

}
.sidebar ul li a:hover{
    font-weight: bold;
    background-color: #900;
}