        #fr{
            background-color: rgb(231, 235, 174);
            width: 700px;
            margin: auto;
            border-radius: 10px;
            border: blue 2px solid;
            margin-bottom: 20px;
        }
        #head{
            text-align: center;
            padding: 20px;
            padding-bottom: 0px;
            color: brown;
        }
        #cont {
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 20px;
            text-indent: 20px; /* Đặt giá trị này bằng giá trị của margin-left để căn đầu dòng */
            text-align: justify; /* Căn chỉnh văn bản */
        }
        #pic{
            background-image: url(th.jpg);
            width: 450px;
            border-radius: 10px;
            margin: auto;
            border: blue 2px solid;
        }
        #pic h2{
            color: blue;
            text-align: center;
            padding-bottom: 10px;
        }
        #pic p{
            font-size: 20px;
            margin: 20px;
            text-indent: 40px;
            text-align: justify;
            color: rgb(27, 8, 32);
        }